/* stylelint-disable selector-list-comma-newline-after */

p {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  }

.blog-header-tagline {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.content-link {
  color: #282828;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-decoration: underline;
}

.content-link:hover {
  text-decoration: none;
}

.content-link-container {
  line-height: 2;
}
