{# Daily Digest - daily_digest.md #}
{% extends "email_digest_base.md.j2" %}

{% block title %}
# Happy {{ now.strftime('%A') }} to you fellow Daily Grower!
{% endblock title %}

{% block greeting %}
Enjoy today's link{% if links|length > 1 %}s{% endif %} showcasing the best of the best in the world of homesteading, farming, and personal growth!
{% endblock greeting %}

{% block message_body %}
And now for *today's* stor{% if links|length > 1 %}ies{% else %}y{% endif %}:

{% for link in links %}
- [{{ link.fields.Headline | title }}]({{ link.fields.Link }}) [{{ link.fields.Link | netloc }}] -- {{ link.fields.Blurb}}
{% endfor %}
{% endblock message_body %}

{% block salutation %}
That's all for now, go on and have a great {{ now.strftime('%A') }}! As always we appreciate your support.
{% endblock salutation %}