{# Daily Digest - daily_digest.md #}
{% extends "email_digest_base.md.j2" %}

{% block title %}
# Happy {{ now.strftime('%A') }} to you fellow Daily Grower!
{% endblock title %}

{% block greeting %}
Enjoy today's link{% if links|length > 1 %}s{% endif %} showcasing the best of the best in the world of homesteading, farming, and personal growth!
{% endblock greeting %}

{% block subscriber_notes %} {% endblock subscriber_notes %}

{% block message_body %}

{% for link in links %}
#### [{{ link.headline | title }}]({{ link.url }})

{% if link.subscriber_notes %}
> Randy's note: {{ link.subscriber_notes }}
{% endif %}

{% if link.image_url %}
[![{{ link.headline | title }}]({{ link.image_url }} "{{ link.headline | title }}")]({{ link.url }})
{% endif %}

{{ link.blurb | safe }}

{% endfor %}
{% endblock message_body %}

{% block salutation %}
That's all for now, go on and have a great {{ now.strftime('%A') }}! As always we appreciate your support.
{% endblock salutation %}