{% block title %}{% endblock title %}
{% block greeting %}{% endblock greeting %}

---

{% block message_body %}{% endblock message_body %}

---

{% block call_to_action %}
Don't forget:

- [Share](https://dailygrower.com/{{ internal_pages.contribute }}) a great article/vlog/recipe/whatever with other Daily Growers!
- [Visit](https://dailygrower.com/{{ internal_pages.subscribers }}) our subscriber-only page for products, reviews, special offers, and discounts.
- [Invite](https://dailygrower.com/{{ internal_pages.subscribe }}) a friend with this link: https://dailygrower.com/{{ internal_pages.subscribe }}
- [Peruse](https://dailygrower.com/{{ internal_pages.archive }}) the archives for featured stories you may have missed.
{% endblock call_to_action %}

---

{% block salutation %}{% endblock salutation %}
{% block signature %}
Randy @ The Daily Grower
{% endblock signature %}
{% block postscript %}{% endblock postscript %}
{% block whitelist_reminder %}
To make sure you keep getting these emails, please add or whitelist *dailygrower@mg.buttondown.email* in your email client.
{% endblock whitelist_reminder %}
