{% block title %}{% endblock title %}
{% block greeting %}{% endblock greeting %}
{% block subscribe_call_to_action %}
[Did a friend forward you this? Click here to subscribe and become a Daily Grower. It's totally free with a money-back guarantee!](https://dailygrower.com/{{ internal_pages.subscribe }})
{% endblock subscribe_call_to_action %}
---
{% block message_body %}{% endblock message_body %}
{% block contribute_call_to_action %}
[Did you find or create a great article/vlog/recipe/whatever worth sharing? Click HERE to send it our way.](https://dailygrower.com/{{ internal_pages.contribute }})
{% endblock contribute_call_to_action %}
---
{% block salutation %}{% endblock salutation %}
{% block signature %}
Randy @ The Daily Grower
{% endblock signature %}
{% block postscript %}
P.S. Know someone who would enjoy The Daily Grower? Just forward them this email! They will thank you!
{% endblock postscript %}
{% block whitelist_reminder %}
To make sure you keep getting these emails, please add or whitelist *dailygrower@mg.buttondown.email* in your email client.
{% endblock whitelist_reminder %}
