{# Home Page  - index.html #}
{% extends "base.html.j2" %}

{% block autorefresh %}
{% if ENABLE_AUTOREFRESH %}
<meta http-equiv="refresh" content="{{ index_refresh_interval }}"/>
{% endif %}
{% endblock autorefresh %}

{% block page_js %}
<script type="text/javascript">
$( document ).ready(function() {});
</script>
{% endblock page_js %}

{% block content %}

{% for link in links %}
  {% set rowloop = loop %}
    {% if link.fields['Image URL'] %}
    <div class="row mt-2">
      <div class="col-md-12">
        <a href="{{ link.fields.Link }}" {% if ENABLE_GOOGLE_LINK_TRACKING %}onclick="getOutboundLink('{{ link.fields.Link }}'); return false;"{% endif %}>
          <img src="{{ link.fields['Image URL'] }}" class="rounded mx-auto d-block img-fluid" alt="{{ link.fields.Headline|title }}">
        </a>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        {% with link_page_type = "index" %}
          {% include 'link.html.j2' %}
        {% endwith %}
      </div>
    </div>
    {% if not loop.last %}
    <hr>
    {% endif %}
  {% endfor %}

{# Google Ad space #}
{% if ENABLE_GOOGLE_ADS %}
<div class="row">
  <div class="col-md-12">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Daily Grower Horizontal Ad -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3256029525911021" data-ad-slot="1123722288" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
{% endif %}
  <hr>
{% endblock content %}

{% block sidebar %}
{{ super() }}
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-subscribe.html.j2' %}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-contribute.html.j2' %}</div>
</div>
{% endblock sidebar %}
