{# Home Page  - index.html #}
{% extends "base.html.j2" %}

{% block content %}
  {% for link in links %}
  <div class="row">
    <div class="col-md-12 border-bottom">{% include 'link.html.j2' %}</div>
  </div>
  {% endfor %}
{% endblock content %}

{% block sidebar %}
<div class="row">
  <div class="col-md-12">{% include 'sidebar-welcome.html.j2' %}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-contribute.html.j2' %}</div>
</div>
<hr>
{% endblock sidebar %}