{% if 'Shopping' in link.fields['Link Tags'] %}
<i class="fas fa-shopping-cart"></i>
{% elif 'youtu' in link.fields.Link %}
<i class="fab fa-youtube"></i>
{% elif 'Cookery' in link.fields['Link Tags'] %}
<i class="fas fa-utensils"></i>
{% elif 'Articles' in link.fields['Link Tags'] or 'Blogs' in link.fields['Link Tags'] %}
<i class="far fa-newspaper"></i>
{% endif %}
<a class="content-link" href="{{ link.fields.Link }}"
    {% if ENABLE_GOOGLE_LINK_TRACKING %}onclick="getOutboundLink('{{ link.fields.Link }}'); return false;"{% endif %}>
    {% if link_page_type == "index" %}{{ link | approval_day }} - {% endif %}{{ link.fields.Headline|title }}
</a>
{% if ENABLE_LINK_NETLOC %}<span class="content-link-netloc">({{ link.fields.Link | netloc }})</span>{% endif %}
{% if link_page_type == "archive" %}
<p class="content-link-netloc">First appeared {{ link.fields['Approval Date'].strftime('%B, %d, %Y') }}</p>
{% endif %}
<p class="content-link-blurb">{{ link.fields.Blurb }}</p>