<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text content-link-blurb text-left">
      Welcome to <i>The Daily Grower</i>, home of the best news, articles, vlogs, and recipes for homesteaders,
      small farmers, and growers of all kinds.
    </p>
    <p class="card-text content-link-blurb text-left">
      We provide daily curated content to help you grow better every day.
    </p>
  </div>
</div>