<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text sidebar text-left">
      Want to <i>build</i> your homestead, <i>start</i> your farm business, and <i>find</i> your independence
      but are <b>completely overwhelmed</b> with the sheer amount of blogs, videos, books, and advertisers telling you what to do?
    </p>
    <p class="card-text sidebar text-left">
      Welcome to the Daily Grower, your guide to the best stories for 
      growing your homestead and farm. With daily or weekly email digests, 
      product reviews, and refreshing honesty, we make it so you can succeed 
      without the getting lost in it all.
    </p>
  </div>
</div>