<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Become a Daily Grower</h5>
    <p class="card-text sidebar text-left">
      Get <i>The Daily Grower</i> in your email and enjoy <b>exclusive
      content</b> (before it shows up on the web) and <b>special offers</b> just
      for subscribers!
    </p>
    <a href="{{ internal_pages.subscribe }}" class="mb-3 btn btn-primary">Sign Up for FREE!</a>
  </div>
</div>