<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Have great content to share?</h5>
    <p class="card-text sidebar text-left">
      We can't provide all of the great stories and articles, so we crowdsourced it! We need your help to share your favorite news, 
      articles, recipes, products, and videos with <i>The Daily Grower</i>. It's easy!
    </p>
    <a href="{{ internal_pages.contribute }}" class="btn btn-primary">Contribute</a>
  </div>
</div>