<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Hello there</h5>
    <p class="card-text sidebar text-left">
      <i>Building</i> your homestead, <i>starting</i> your farm business,
      or <i>finding</i> your independence but are <b>overwhelmed</b> with
      the sheer amount of information telling you what to do?
    </p>
    <p class="card-text sidebar text-left">
      Welcome to the Daily Grower, your guide to the best stories for 
      growing your homestead and farm. With daily or weekly email digests, 
      product reviews, and refreshing honesty, we make it so you can succeed 
      without the getting lost in it all.
    </p>
  </div>
</div>