<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Have great content to share?</h5>
    <p class="card-text sidebar text-left">
      The Daily Grower is <b>crowdsourced</b>. Share the stories you find
      (or create) and have them featured!
    </p>
    <a href="{{ internal_pages.contribute }}" class="btn btn-primary">Contribute</a>
  </div>
</div>