<div class="card text-center sidebar-card">
  <div class="card-body">
    <h5 class="card-title">Support the Daily Grower</h5>
    <p class="card-text sidebar text-left">
      Has <i>The Daily Grower</i> provided value to you? Support our tribe to keep it going!
    </p>
    <a href="https://www.patreon.com/bePatron?u=49671932" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
  </div>
</div>
