{# Subscriber Page  - subscribers.html #}
{% extends "base.html.j2" %}

{% block content %}
<div class="row mt-2">
  <div class="col-md-12">
  <h4 class="text-center">Thank you for being a Subscriber!</h4>
  <p class="text-center">Exclusive deals, and products and services recommended by The Daily Grower!</p>
  </div>
</div>

<div class="row-fluid text-center">
    <div class="span12">|
      {% for deal_type in deals.keys() %}
      <a href="#{{ deal_type | slug }}" class="d-inline pr-2 pl-2">{{ deal_type }}</a>|
      {% endfor %}
    </div>
</div>
<hr>
{% for deal_type, deal_entries in deals.items() %}
<div class="row">
  <div class="col-md-12 mb-5">
    <h5>{{ deal_type }}</h5><a name="{{ deal_type | slug }}"></a>
    {% for deal in deal_entries %}
    <div class="row">
      <div class="col-md-3 pb-3">
        <a href="{{ deal.url }}"><img class="rounded mx-auto d-block img-fluid" src="{{ deal.image_url }}"></a>
      </div>
      <div class="col-md-9">
        <a href="{{ deal.url }}">{{ deal.title | title }}</a><br>
        <p>{{ deal.blurb | safe }}</p>
        {% if deal.tags %}<p>Tags: {% for tag in deal.tags %}{{ tag }}{% if not loop.last%},{% endif %} {% endfor %}</p>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <hr>
</div>
{% endfor %}


<div class="row pt-2">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          Like the <i>The Daily Grower</i>? Tell a friend! We'd love for them to join the Daily Grower community.
        </div>
    </div>
</div>

{# Google Ad space #}
{% if ENABLE_GOOGLE_ADS %}
<div class="row">
  <div class="col-md-12">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Daily Grower Horizontal Ad -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3256029525911021" data-ad-slot="1123722288" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
{% endif %}
  <hr>
{% endblock content %}

{% block sidebar %}
{{ super() }}
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-contribute.html.j2' %}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-support.html.j2' %}</div>
</div>
{% endblock sidebar %}
