{# User subscribe page  - subscribe.html #}
{% extends "base.html.j2" %}

{# Force disable of autorefresh on this page #}
{% block autorefresh %} {% endblock autorefresh %}

{# Title for this page #}
{% block title %}Subscribe to {% endblock title %}

{% block page_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select[name="digest-select"]').change(function() {
      digest = $(this).val();
      if ( digest == 1 ) {
        $('input[name="tag"]').val("weekly-digest");
      } else if ( digest == 2) {
        $('input[name="tag"]').val("daily-digest");
      } else {
        $('input[name="tag"]').val("all-digests");
      }
    });

    // If the form does not have the recaptcha clicked, don't allow submission
    $('#user-submit').click(function() {
        var googleResponse = $('#g-recaptcha-response').val();
        if (!googleResponse) {
            $('#captcha-error').removeClass('d-none');
            return false;
        } else {            
            return true;
        }
    });
  });
</script>
{% endblock page_js %}


{% block sidebar %}
{{ super() }}
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-contribute.html.j2' %}</div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">{% include 'sidebar-support.html.j2' %}</div>
</div>
{% endblock sidebar %}

{% block content %}
  <div class="row">
    <div class="col-md-12 p-2">
      <h3>Subscribe to the Daily Grower</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-2">
      <p class="user-form-text">As a Daily Grower, here's what you can expect:</p>
      <ul class="user-form-text">
        <li>When we update <i>The Daily Grower</i> with new articles, videos, recipes, and products, you'll be the first to know right in your email!</li>
        <li>From time to time we'll bring you exclusive access to special content and discounts on products that will bring you immense value as you grow better every day, and we'll share them with you!</li>
        <li>As someone with some skin in the game, when you contribute your favorite content to <i>The Daily Grower</i>, we'll prioritize it to be featured.</li>
      </ul>
      <p class="user-form-text">Pretty awesome, eh?</p>
      <p class="user-form-text">Thank you for becoming a Daily Grower, we are so happy to have you in our community.</p>
      <p class="user-form-text">We promise you'll find value in the content we send your way or your money back! ;)</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 p-2">
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/dailygrower"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/dailygrower', 'popupwindow')"
        data-netlify-recaptcha="true"
        class="embeddable-buttondown-form">

        <div class="form-group">
          <label for="bd-email" class="form-label">Email Address</label>
          <input type="email" name="email" id="bd-email" placeholder="Your email (you@example.com)" class="form-control" aria-describedby="emailHelp" required/>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
        </div>

        <div class="form-group">
          Please send me a
          <select name="digest-select" class="form-select" aria-label="Digest Selection" required>
            <option value="1">Weekly</option>
            <option value="2">Daily (5x/week)</option>
            <option value="3">Daily and Weekly</option>
          </select> email digest with stories that will guide and inform me.
        </div>

        <div class="form-group d-none" aria-hidden="true">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </div>

        <div data-netlify-recaptcha="true"></div>

        <div id="captcha-error" class="alert alert-danger d-none pt-2 pb-2" role="alert">
            <h4 class="alert-heading user-form-text">Uh Oh! Are you a robot?</h4>
            <hr>
            <p class="user-form-text">Please click the captcha link above.</p>
            <p class="user-form-text">(Unless you are a robot, and in that case, we don't hate robots, this form just isn't for you.</p>
        </div>

        <div class="form-group">
          <input type="hidden" name="tag" value="weekly-digest" />
          <input type="hidden" value="1" name="embed" />
          <button type="submit" id="user-submit" class="btn btn-primary">Subscribe</button><a class="pl-3" href="{{ internal_pages.main }}">Cancel</a>
        </div>
     </form>


    </div>
  </div>
{% endblock content %}
